<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/1.9.0/jquery.min.js"></script>
    <script>
        function checkUname() {
            //获取文本框内容
            var uname = $('#uname').val();//id选择器（jquery）
            //非空校验
            if (uname.length==0){
                $('#uspan').html('*');//更新标签的值
                $('#uspan').css('color','red');//更新标签颜色
            }else {
                //判断唯一
                $.get('/AJAX/only_user/',{'uname':uname},function (result) {
                    //根据服务器响应信息进行页面更新
                    if (result.flag){
                         $('#uspan').html('√');
                         $('#uspan').css('color','green');
                    }else {
                         $('#uspan').html('重复');
                         $('#uspan').css('color','red');
                    }
                })
            }
        }
    </script>
</head>
<body>
    用户名<input type="text" name="uname" id="uname" onblur="checkUname()"><span id="uspan"></span>
</body>
</html>