<header id="header">
  <div id="banner"></div>
  <div id="header-outer" class="outer">
    <div id="header-inner" class="inner">
      <nav id="main-nav">      {#  <nav> 标签定义导航链接的部分 #}
          <a class="main-nav-link" href="/blog/home-page/">首页</a>
          <a class="main-nav-link" href="#">归档</a>
          <a class="main-nav-link" href="#" target="_blank">关于</a>
      </nav>
        <div class="d1">

	  <form method="get" action="/search/">
	    <input type="text" name="q" placeholder="搜索">
	  </form>
	</div>
    </div>
  </div>
</header>
