{% load filter_mark %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{#        {{ num|add:'2' }}{#变量加2#}
{#        {{ str|capfirst }}{#变量首字母大写#}
{#        {{ datetime|date:'Y-m-d H:i:s' }}{#时间格式化输出#}
{#        {{ value|default:'none' }}{#当变量的值取不到时给个默认值#}
{#        {{ value|first }}{#当value是一个列表时，输出列表的第一个值#}
{#        {{ value|divisibleby:'2' }}{#是否可被整除#}
{#        {{ value|safe }}{#取消自动转义#}
{#        {{ value|truncatewords:'3' }}{#超过3个字符省略#}
<p>--------------------------</p>

{{ content|markdown }} {#将Markdown转换成html标签#}
{{ content|markdown|safe }}{#将Markdown转换成html标签--然后再解析(不用转义)#}
<p>--------------------------</p>
{{ str|splitstr:'1,3' }}

</body>
</html>