<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <table border="1" cellspacing="0" width="500px">
            <tr>
                <th>编号</th>
                <th>姓名</th>
                <th>班级名称</th>
                <th>课程名称</th>
            </tr>
            {% for stu in stus %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ stu.sname }}</td>
                    <td>{{ stu.s_cls.cname }}</td>
                    <td>
                        {% for s in stu.s_cour.all %}
                            {{ s.course_name }}
                        {% endfor %}

                    </td>
                </tr>
            {% endfor %}
        </table>
</body>
</html>